.jumbotron {
  background-color: #FFFa20;
  color: black;
  margin-top: 10px;
  margin-bottom: 0px;
}

.button {
  background-color: lightgray;
  width: 100%;
}

footer {
  background-color: #FFFa20;
  margin-top: 10px;
  margin-bottom: 0px;
}

.card-labodega {
  flex: 1 200px;
  padding: 4px 0px 4px 0px;
  height: 100%;
}

.footer-address-icon {
  padding: 10px;
}

.footerbutton {
  padding-left: 10px;
  border-radius: 0px;
}

#mytab {
  padding-bottom: 10px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: black;
  outline: black;
  border-radius: 50%;
}

/*# sourceMappingURL=styles.css.map */
